body {
    transition: background-color 1000ms linear, color 1000ms linear;
    font-family: 'PT Sans', sans-serif;
    	font-size: 15vh;
	text-align: center;
    
}

ul {
  list-style-type: none;
}

.step { width: 80vw; }

#title {
	font-size: 20vh;
}

#title2 {
	font-size: 20vh;
}

.impress-on-title2 {
    background-color: yellow;
}

.impress-on-darkness0 {
    background-color: black;
}

.impress-on-darkness1 {
    background-color: black;
}





