body {
    transition: background-color 1000ms linear, color 1000ms linear;
    font-family: 'PT Sans', sans-serif;
  	font-size: 15vh;
	text-align: center;
	background-color: black;
	color: white;
}

ul {
  list-style-type: none;
}

.step {
	width: 80vw;
}

#title {
	font-size: 20vh;
}

#title2 {
	font-size: 20vh;
}

.impress-on-title2 {
    color: yellow;
}

.impress-on-darkness0 {
    color: black;
}

.impress-on-darkness1 {
    color: black;
}





